<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Login Page</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div th:replace="base:: nav"></div>

<div class="container">
    <h1>Login Page</h1>
    <div th:if="${param.error}">
        Invalid username or password
    </div>

    <div th:if="${param.logout}">
        You have been logged out
    </div>

    <form method="post" th:action="@{/login}">
        <div>
            <label>User name: <input name="username" type="text"/></label>
        </div>
        <div>
            <label>Password: <input name="password" type="password"/></label>
        </div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>

<div th:replace="base:: footer"></div>

</body>
</html>