<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div th:replace="base:: nav"></div>

<div class="container">
    <h4>New User Registration</h4>

    <form action="#"
          autocomplete="off"
          method="post"
          th:action="@{/register}"
          th:object="${user}">

        First Name
        <mark>
            <strong>
                <span th:errors="*{firstName}"
                      th:if="${#fields.hasErrors('firstName')}">First Name error
                </span>
            </strong>
        </mark>
        <input id="firstName" placeholder="First Name" th:field="*{firstName}"
               type="text"/><br/>

        Last Name
        <mark>
            <strong>
                <span th:errors="*{lastName}"
                      th:if="${#fields.hasErrors('lastName')}">Last Name error
                </span>
            </strong>
        </mark>
        <input id="lastName" placeholder="Last Name" th:field="*{lastName}"
               type="text"/><br/>

        Email
        <mark>
            <strong>
                <span th:errors="*{email}"
                      th:if="${#fields.hasErrors('email')}">Email error
                </span>
            </strong>
        </mark>
        <input id="email" placeholder="Email" th:field="*{email}"
               type="text"/><br/>

        Username
        <mark>
            <strong>
                <span th:errors="*{username}"
                      th:if="${#fields.hasErrors('username')}">Username error
                </span>
            </strong>
        </mark>
        <input id="username" placeholder="Username" th:field="*{username}"
               type="text"/><br/>

        Password
        <mark>
            <strong>
                <span th:errors="*{password}"
                      th:if="${#fields.hasErrors('password')}">Password error
                </span>
            </strong>
        </mark>
        <input id="password" placeholder="Password" th:field="*{password}"
               type="password"/><br/>

        <button class="btn btn-default" type="submit">Submit</button>

    </form>
</div>

<div th:replace="base:: footer"></div>

</body>
</html>